<% account = account.decorate %>
<% record = account.account_token_records.find_by(token: @project.token) %>

<div class="transfers-table__transfer">
  <div class="transfers-table__transfer__account">
    <%= render partial: "dashboard/transfers/account", locals: {account: account} %>
  </div>

  <div class="transfers-table__transfer__aml-kyc">
    <label>AML/KYC Date</label>

    <% if account.latest_verification %>
      <%= account.latest_verification.created_at.strftime("%b %e, %Y") %>
    <% else %>
      –
    <% end %>
  </div>

  <div class="transfers-table__transfer__max-investment">
    <label>Max Investment</label>

    <% if account.latest_verification %>
      <%= number_to_currency(account.latest_verification.max_investment_usd) %>
    <% else %>
      –
    <% end %>
  </div>

  <div class="transfers-table__transfer__tokens">
    <label>tokens <%= @project.token&.symbol ? "(#{@project.token&.symbol})" : '' %></label>

    <%= account.total_awards_earned(@project) %>
  </div>

  <% if @project.token %>
    <div class="transfers-table__transfer__address">
      <label>Address</label>

      <span class="transfers-table__transfer__address__button">
        <%= account.wallet_address_link_for(@project) %>
      </span>
    </div>
  <% end %>

  <% if @project.supports_transfer_rules? %>
    <div class="transfers-table__transfer__max_balance">
      <label>max balance</label>

      <% if record&.max_balance && record.max_balance > 0 %>
        <%= number_to_currency(record.max_balance, unit: '', precision: 0) %>
      <% else %>
        –
      <% end %>
    </div>

    <div class="transfers-table__transfer__lockup_until">
      <label>lockup until</label>

      <% if record&.lockup_until && record&.lockup_until > Time.current %>
        <%= record&.lockup_until&.strftime("%b %e, %Y") %>
      <% else %>
        –
      <% end %>
    </div>

    <div class="transfers-table__transfer__reg_group">
      <label>reg group</label>

      <%= record&.reg_group&.name || – %>
    </div>

    <div class="transfers-table__transfer__frozen">
      <label>frozen</label>

      <% if record&.account_frozen? %>
        <span class="transfers-table__transfer__frozen--yes">Yes</span>
      <% else %>
        <span class="transfers-table__transfer__frozen--no">No</span>
      <% end %>
    </div>
  <% end %>
</div>