<div class="transfers-table__transfer transfers-table__transfer--header">
  <label>sort by</label>

  <div class="transfers-table__transfer__account">
    <%= sort_link(@q, :first_name, [:first_name, :last_name], 'account') %>
  </div>

  <div class="transfers-table__transfer__aml-kyc">
    <%= sort_link(@q, :verifications_created_at, 'aml/kyc date') %>
  </div>

  <div class="transfers-table__transfer__max-investment">
    <%= sort_link(@q, :verifications_max_investment_usd, 'max investment') %>
  </div>

  <div class="transfers-table__transfer__tokens">
    tokens <%= @project.token&.symbol ? "(#{@project.token&.symbol})" : '' %>
  </div>

  <% if @project.token %>
    <div class="transfers-table__transfer__address">
      address
    </div>
  <% end %>

  <% if @project.supports_transfer_rules? %>
    <div class="transfers-table__transfer__max_balance">
      <%= sort_link(@q, :account_token_records_max_balance, @project.token&.symbol ? "max balance (#{@project.token&.symbol})" : 'max balance') %>
    </div>

    <div class="transfers-table__transfer__lockup_until">
      <%= sort_link(@q, :account_token_records_lockup_until, 'lockup until') %>
    </div>

    <div class="transfers-table__transfer__reg_group">
      <%= sort_link(@q, :account_token_records_reg_group_id, 'reg group') %>
    </div>

    <div class="transfers-table__transfer__frozen">
      frozen
    </div>
  <% end %>
</div>