<%= tag.div nil, id: :account_permissions_modal %>

<%= render layout: 'projects/project_settings' do %>
  <div data-controller="sign--wallet-connect sign--metamask">
    <%= render partial: "filters" %>

    <div class="transfer-rules__buttons">
      <div class="transfer-rules__refresh_from_blockchain">
        <% if @project.supports_transfer_rules? && policy(@project).edit_accounts? && @project.token.token_type.accounts_sync_job %>
          <%= button_to 'refresh accounts',
                        refresh_from_blockchain_project_dashboard_accounts_path(@project),
                        class: 'transfer-rules__refresh_from_blockchain_button',
                        method: :post,
                        disabled: @project.token.account_token_records.fresh?,
                        data: { disable_with: "..." } %>
        <% end %>
      </div>
    </div>

    <% if policy(@project).edit_accounts? %>
      <div class="row">
        <div class="col-md-12 wallet-connect">
          <%= render partial: 'shared/wallet_connect' %>
        </div>
      </div>
    <% end %>

    <div class="transfers-table animated fadeIn faster">
      <%= render partial: "header" %>
      <%= render partial: "summary" %>

      <%= turbo_stream_from "project_#{@project.id}_accounts" %>
      <%= turbo_frame_tag "project_#{@project.id}_accounts" do %>
        <%= render partial: 'account', collection: @accounts, as: :account, cached: false %>
      <% end %>
    </div>

    <div class="transfers-pages">
      <%= paginate(@accounts, window: 3) %>
    </div>
  </div>
<% end %>
