<%= render layout: 'projects/project_settings' do %>
    <%= render partial: "filters" %>

    <div class="transfers-table">
      <%= render partial: "header" %>
      <%= render partial: "summary" %>
      <%= render partial: "account", collection: @accounts, as: :account, cached: true %>
    </div>

    <div class="transfers-pages">
      <%= paginate(@accounts, window: 3) %>
    </div>
<% end %>