<p>
  Hello <%= @account.name %>.
</p>

<p>
  The task <b><%= @award.name %></b> was not accepted by the project owner.
</p>

<p>
  Find another task to work on and earn awards by visiting the
  <a href="<%= my_tasks_url(host: @host) %>">My Tasks</a>
  section of <%= @brand_name %>.
</p>

<p>
  Team <%= @brand_name %>
</p>