<p>
  Good news - <%= @issuer.name %> sent you <b><%= @award.total_amount %></b>
  <% if @award.token %>
    of <%= @award.token.name %>
  <% end %>
  for the <b><%= @award.name %></b> task.
</p>

<% if @award.message %>
  <p>
    <i>
      <%= @award.message %>
    </i>
  </p>
<% end %>

<% if @account && @award.token && !@account.can_receive_awards?(@award.project) %>
  <p>
    <b>To take ownership of the payment, you will have to register a wallet on your account.</b>
    You need to enter your payment information to receive payment.
    Click <a href="<%= show_account_url(host: @host) %>">here</a>
    to enter your <%= @award.token.coin_type %> wallet address in your <%= @brand_name %> account.
  </p>
<% end %>

<% if !@account %>
  <p>
    To claim your award, you will need to sign up on <%= @brand_name %>
    <a href="<%= new_account_url(account_email: @award.email, host: @host) %>">here</a>.
  </p>

  <% if @award.token %>
    <p>
      <b>Once registered to take ownership of the payment, you will have to register a wallet on your account.</b>
      Click <a href="<%= show_account_url(host: @host) %>">here</a>
      to enter your <%= @award.token.coin_type %> wallet address in your <%= @brand_name %> account.
    </p>
  <% end %>
<% end %>

<p>
  If you ever have any questions, concerns, or compliments, please email us at
  <a href="mailto:<%= @contact_email %>"><%= @contact_email %></a>
</p>

<p>
  Congrats from the team at <%= @brand_name %>. Thank you for being part of the community.
</p>
