<turbo-frame id="chart-data" target="_top">

  <% @negative = @transfer_type_name == 'burn' %>
  <div
    class="transfers-chart transfers-filters animated fadeIn faster"
    data-controller="transfers-chart"
    data-transfers-chart-stacked-chart-scale-x="<%= params[:duration] || 'Year' %>"
    data-transfers-chart-stacked-chart-data-status="Created"
    data-transfers-chart-stacked-chart-data-day="<%= params[:duration] == 'Day' ? @project.transfers_stacked_chart_day(@transfers, negative: @negative).to_json : '' %>"
    data-transfers-chart-stacked-chart-data-week="<%= params[:duration] == 'Week' ? @project.transfers_stacked_chart_week(@transfers, negative: @negative).to_json : '' %>"
    data-transfers-chart-stacked-chart-data-month="<%= params[:duration] == 'Month'  ? @project.transfers_stacked_chart_month(@transfers, negative: @negative).to_json : '' %>"
    data-transfers-chart-stacked-chart-data-year="<%= (params[:duration] == 'Year' || params[:duration].blank?) ? @project.transfers_stacked_chart_year(@transfers, negative: @negative).to_json : '' %>"
    data-transfers-chart-donut-chart-data="<%= @project.transfers_donut_chart(@transfers).to_json %>"
    data-transfers-chart-token-symbol="<%= @project_token&.symbol %>"
    data-transfers-chart-total="<%= @transfers_not_burned_total %>"
    data-transfers-chart-total-filtered="<%= @transfers.sum(&:total_amount) %>"
    data-transfers-chart-decimals="<%= @project_token&.decimal_places || 0 %>"
    data-transfers-chart-colors="<%= @project.transfers_chart_colors.to_json %>"
    data-transfers-chart-transfer-type-burn="<%= @negative %>">

    <div class="transfers-chart__info">
      <div class="transfers-filters--filter">
        <div class="transfers-filters--filter--options">
          <% ['Year', 'Month', 'Week', 'Day'].each do |scale_x| %>
            <div
              data-target="transfers-chart.scales"
              data-scale-x="<%= scale_x %>"
              class="<%= scale_x == (params[:duration] || 'Year') ? 'transfers-filters--filter--options__active' : nil %>">
              <%= link_to scale_x, fetch_chart_data_project_dashboard_transfers_path(@project, duration: scale_x, q: @filter_params, page: params[:page]), data: {turbo_frame: "chart-data"} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="transfers-chart__charts">
      <svg id="stacked-chart"></svg>
      <div>
        <svg id="donut-chart" width="300" height="300"></svg>
        <div class="donut-amount" data-target='transfers-chart.donutAmountFiltered'>
          <% if @transfers.sum(&:total_amount) != @transfers_unfiltered.sum(&:total_amount) %>
            <%= "#{@negative ? '-' : ''} #{@transfers.sum(&:total_amount)} #{@project_token&.symbol} Filtered Total" %>
          <% end %>
        </div>
        <div class="donut-amount" data-target='transfers-chart.donutAmount'>
          <%= "#{@transfers_not_burned_total} #{@project_token&.symbol} #{@negative ? 'Net' : '' } Total" %>
        </div>
      </div>
      <div id="stacked-chart-tooltip"></div>
    </div>

    <div class="transfers-filters--filter">
      <div class="stacked-chart-legend" style='width: 25%; display: inline-table;'>
        <% @transfers_chart_colors_objects.each do |type, color| %>
          <div class="stacked-chart-legend__type <%= ransack_filter_present?(@q, 'transfer_type_id', 'eq', type.id.to_s) ? 'stacked-chart-legend__type--active' : nil %>">
            <div class="stacked-chart-legend__type__color" style="background-color: <%= color %>"></div>

            <%= link_to(
              type.name,
              request.params.merge(q: (request.params[:q] || {}).except(:transfer_type_id_eq).merge(transfer_type_id_eq: type.id)),
              class: "stacked-chart-legend__type__name"
            ) %>

            <div style='margin-left:2em; width: 65px;'>
              <% type_count = @transfers_totals.where(transfer_type_id: type.id).count %>
              <% type_percent =
                if @transfers_totals.count.positive?
                  (type_count.to_f/@transfers_totals.count * 100).to_i
                else
                  0
                end %>
              <%= type_count %>
              <div style="color: <%= color %>; float: right;">
                <%= "#{type_percent}%" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</turbo-frame>
