<div
  class="transfers-chart transfers-filters"
  data-controller="transfers-chart"
  data-transfers-chart-stacked-chart-scale-x="Year"
  data-transfers-chart-stacked-chart-data-day=<%= @project.transfers_stacked_chart_day(@transfers_all).to_json %>
  data-transfers-chart-stacked-chart-data-week=<%= @project.transfers_stacked_chart_week(@transfers_all).to_json %>
  data-transfers-chart-stacked-chart-data-month=<%= @project.transfers_stacked_chart_month(@transfers_all).to_json %>
  data-transfers-chart-stacked-chart-data-year=<%= @project.transfers_stacked_chart_year(@transfers_all).to_json %>
  data-transfers-chart-donut-chart-data=<%= @project.transfers_donut_chart(@transfers_all).to_json %>
  data-transfers-chart-token-symbol=<%= @project.token&.symbol %>
  data-transfers-chart-total=<%= @transfers_all.sum(&:total_amount) %>
  data-transfers-chart-colors=<%= @project.transfers_chart_colors.to_json %>
>
  <h2>transfer types</h2>
  
  <div class="transfers-chart__info">
    <div class="transfers-filters--filter">
      <h3>Scale</h3>

      <div class="transfers-filters--filter--options">
        <% ['Year', 'Month', 'Week', 'Day'].each do |scale_x| %>
          <div
            data-target="transfers-chart.scales"
            data-action="click->transfers-chart#setStackedChartScaleX"
            data-scale-x="<%= scale_x %>"
            class=<%= scale_x == 'Year' ? 'transfers-filters--filter--options__active' : nil %>
          >
            <%= scale_x %>
          </div>
        <% end %>
      </div>
    </div>
    
    <div class="transfers-filters--filter">
      <h3>Types</h3>
      
      <div class="stacked-chart-legend">
        <% @project.transfers_chart_colors.each do |type, color| %>
          <div class="stacked-chart-legend__type">
            <div class="stacked-chart-legend__type__color" style="background-color: <%= color %>"></div>
            <div class="stacked-chart-legend__type__name"><%= type %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="transfers-chart__charts">
    <svg id="stacked-chart" width="700" height="350"></svg>
    <svg id="donut-chart" width="300" height="300"></svg>
    <div id="stacked-chart-tooltip"></div>
  </div>
</div>