<div class="transfers-filters">
  <h2>filters</h2>

  <% if request.params[:q] && request.params[:q][:id_eq] %>

    <div class="transfers-filters--filter">
      <h3>transfer id</h3>

      <div class="transfers-filters--filter--options">
        <div class="transfers-filters--filter--options__active">
          #<%= request.params[:q][:id_eq] %>
        </div>
      </div>
    </div>

  <% elsif request.params[:q] && request.params[:q][:account_id_eq] %>

    <div class="transfers-filters--filter">
      <h3>account id</h3>

      <div class="transfers-filters--filter--options">
        <div class="transfers-filters--filter--options__active">
          #<%= request.params[:q][:account_id_eq] %>
        </div>
      </div>
    </div>

  <% else %>

    <div class="transfers-filters--filter">
      <%= render partial: "filter_status" %>
    </div>

    <div class="transfers-filters--filter">
      <h3>Type</h3>
      
      <div class="stacked-chart-legend">
        <% @project.transfers_chart_colors_objects.each do |type, color| %>
          <div class="stacked-chart-legend__type <%= ransack_filter_present?(@q, 'transfer_type_id', 'eq', type.id.to_s) ? 'stacked-chart-legend__type--active' : nil %>">
            <div class="stacked-chart-legend__type__color" style="background-color: <%= color %>"></div>

            <%= link_to(
              type.name,
              request.params.merge(q: (request.params[:q] || {}).except(:transfer_type_id_eq).merge(transfer_type_id_eq: type.id)),
              class: "stacked-chart-legend__type__name"
            ) %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="transfers-filters--filter">
      <h3>account</h3>

      <%= search_form_for @q, url: project_dashboard_transfers_path, method: :get, html: {class: 'transfers-filters--filter--form'} do |f| %>
        <%= f.search_field :account_first_name_or_account_last_name_or_account_nickname_or_account_email_cont, class: 'transfers-filters--filter--input', placeholder: 'Type name or email', autofocus: true %>
        <%= f.submit 'ok', class: 'transfers-filters--filter--form--submit' %>
      <% end %>
    </div>
    
  <% end %>

  <div class="transfers-filters--clear">
    <%= button_to "clear filters ⌫", project_dashboard_transfers_path, method: :get, disabled: request.params[:q].nil? %>
  </div>
</div>