<%= form_with model: Award.new, url: project_dashboard_transfers_path(@project) do |f| %>
  <div class="modal modal-blur fade" id="modal-create-vesting-schedule" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title ">Create Transfer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div
          class="modal-body"
          data-controller="transfer-form">
          <div class="row row-cards">
            <div class="col-lg-6">
              <label class="form-label required">Recepient Account</label>
              <%= render partial: 'dashboard/accounts/account_search' %>
            </div>

            <div class="col-lg-6">
              <label class="form-label">Recepient Blockchain Address</label>
              <%= render partial: 'dashboard/accounts/wallets', locals: { account: nil } %>
            </div>

            <div class="col-lg-6">
              <label class="form-label required">Amount</label>
              <div class="input-button">
                <%= f.number_field(
                  :amount,
                  required: true,
                  placeholder: '0',
                  min: @project.step_for_amount_input,
                  step: @project.step_for_amount_input,
                  class: "form-control",
                  data: {
                    "transfer-form-target": "amount",
                    "action": "keyup->transfer-form#calculateTotalPrice change->transfer-form#calculateTotalPrice"
                  }
                ) %>
                <span class="input-text-addon">
                  <%= @project.token&.symbol %>
                </span>
              </div>
            </div>

            <div class="col-lg-6">
              <label class="form-label">Price</label>
              <div class="input-group input-group-flat">
                <span class="input-group-text">$</span>
                <%= f.number_field(
                  :price,
                  value: 0,
                  min: 0.00,
                  step: 0.01,
                  class: "form-control",
                  data: {
                    "transfer-form-target": "price",
                    "action": "keyup->transfer-form#calculateTotalPrice change->transfer-form#calculateTotalPrice"
                  }
                ) %>
              </div>
            </div>

            <div class="col-lg-12 d-flex align-items-center justify-content-center">
              <label class="form-label-round form-label-round-large h11 font-weight-medium n8-color n3-bg">
                Total Price: $
                <span
                  data-transfer-form-target="total">
                  0.00
                </span>
              </label>
            </div>
          </div>
        </div>

        <div class="modal-body">
          <div class="row row-cards">
            <div class="col-lg-6">
              <label class="form-label required">Category</label>
              <select
                name="award[transfer_type_id]"
                type="text"
                class="form-select"
                placeholder="Select a type"
                data-controller="choices"
                data-choices-target="select"
                data-choices-search-enabled-value="false"
                data-choices-remote-search-enabled-value="false"
                required>
                  <%= render partial: 'transfer_type', collection: @project.transfer_types, as: :transfer_type, cached: true %>
              </select>
            </div>

            <% if @project.token&._token_type_token_release_schedule? %>
              <div class="col-lg-6">
              </div>

              <div class="col-lg-6">
                <label class="form-label required">Commencement Date</label>
                <div class="input-icon">
                  <input
                    name="award[commencement_date]"
                    class="form-control"
                    placeholder="2020-06-20"
                    data-controller="litepicker"
                    data-litepicker-target="input"
                    required>

                  <span class="input-icon-addon">
                    <svg width="13.5" height="15" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5 0C4.44772 0 4 0.447715 4 1V2H3C1.34315 2 0 3.34315 0 5V7V17C0 18.6569 1.34315 20 3 20H15C16.6569 20 18 18.6569 18 17V7V5C18 3.34315 16.6569 2 15 2H14V1C14 0.447715 13.5523 0 13 0C12.4477 0 12 0.447715 12 1V2H6V1C6 0.447715 5.55228 0 5 0ZM13 4H5H3C2.44772 4 2 4.44772 2 5V6H16V5C16 4.44772 15.5523 4 15 4H13ZM2 17V8L16 8V17C16 17.5523 15.5523 18 15 18H3C2.44772 18 2 17.5523 2 17ZM4 11C4 10.4477 4.44772 10 5 10H7C7.55228 10 8 10.4477 8 11V13C8 13.5523 7.55228 14 7 14H5C4.44772 14 4 13.5523 4 13V11Z" fill="currentColor"></path>
                    </svg>
                  </span>
                </div>
              </div>

              <div class="col-lg-6">
                <label class="form-label required">Lockup Schedule</label>
                <%= f.number_field(
                  :lockup_schedule_id,
                  required: true,
                  placeholder: '0',
                  min: 0,
                  step: 1,
                  class: "form-control"
                ) %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="modal-footer">
          <a class="btn btn-secondary h12" data-bs-dismiss="modal">Cancel</a>

          <%= f.submit('Create', class: "btn btn-primary") %>
        </div>
      </div>
    </div>
  </div>
<% end %>
