<div class="transfers-table__transfer transfers-table__transfer--header">
  <label>sort by</label>

  <div class="transfers-table__transfer__name">
    <%= sort_link(@q, :name, 'transfer name') %>
  </div>

  <div class="transfers-table__transfer__account">
    account
  </div>

  <div class="transfers-table__transfer__issuer">
    <%= sort_link(@q, :issuer_first_name, 'transferred by') %>
  </div>

  <div class="transfers-table__transfer__amount">
    amount <%= @project.token&.symbol ? "(#{@project.token&.symbol})" : '' %>
  </div>

  <div class="transfers-table__transfer__quantity">
    qty
  </div>

  <div class="transfers-table__transfer__total_amount">
    <%= sort_link(@q, :total_amount, @project.token&.symbol ? "total (#{@project.token&.symbol})" : 'total') %>
  </div>

  <% if @project.token %>
    <div class="transfers-table__transfer__button">
      transaction
    </div>
  <% end %>

  <div class="transfers-table__transfer__transferred_at">
    <%= sort_link(@q, :transferred_at, 'transferred') %>
  </div>

  <div class="transfers-table__transfer__transferred_at">
    <%= sort_link(@q, :created_at, 'created') %>
  </div>
</div>
