<%= turbo_frame_tag "transfer_issuer_#{transfer.id}", target: "_top" do %>
  <% if transfer.paid? %>
    <% issuer = transfer.issuer.decorate %>

    <div class="account-preview">
      <div class="account-preview__image">
        <%= image_tag account_image_url(issuer, 100) %>
      </div>

      <div class="account-preview__info">
        <div class="account-preview__info__nickname">
          <%= issuer.nickname %>
        </div>

        <div class="account-preview__info__name">
          <%= issuer.name %>
        </div>

        <%= render partial: 'wallet', locals: { transfer: transfer } %>
      </div>
    </div>
  <% else %>
    –
  <% end %>
<% end %>
