<% transfer = transfer.decorate %>
<% account = transfer.account.decorate %>
<% t_type = transfer_type(transfer.transfer_type_id) %>

<div class="transfers-table__transfer" style="border-left-color: <%= @transfers_chart_colors_objects[t_type] %>">
  <%= turbo_stream_from transfer, :updates %>

  <div class="transfers-table__transfer__name">
    <h3>
      <%= link_to transfer.name, project_award_type_award_path(transfer.project, transfer.award_type, transfer) %>
    </h3>

    <div class="transfers-table__transfer__name__type">
      <%= t_type.name %>
    </div>
  </div>

  <div class="transfers-table__transfer__recipient">
    <label>recipient</label>

    <%= render partial: 'recipient', locals: { transfer: transfer } %>
  </div>

  <div class="transfers-table__transfer__issuer">
    <label>issuer</label>

    <% if transfer.issuer %>
      <%= render partial: 'issuer', locals: { transfer: transfer } %>
    <% elsif transfer.email %>
      <%= transfer.email %>
    <% else %>
      –
    <% end %>
  </div>

  <div class="transfers-table__transfer__total_amount">
    <label>total amount</label>

    <%= transfer.total_amount_pretty %>
  </div>

  <div class="transfers-table__transfer__verification">
    <label>verification</label>

    <div class="account-preview__info__verification">
      <%= image_pack_tag "media/src/images/styleguide/icons/verification-#{account.verification_state}.svg",
                         size: '15x15' %>
      <%= account.verification_state&.capitalize %>
    </div>
  </div>

  <% if @project.token %>
    <div class="transfers-table__transfer__status">
      <label>status</label>

      <% if transfer.project.token&._token_type? %>
        <% if current_account&.decorate&.can_send_awards?(transfer.project) %>
          <%= render partial: 'shared/transfer_button_admin', locals: { transfer: transfer } unless transfer.cancelled? %>
        <% else %>
          <% if transfer.recipient_address.blank? && current_account == transfer.account %>
            <div class="transfer-button">
              <%= link_to 'set wallet', wallets_path %>
            </div>
          <% else %>
            <%= render partial: 'shared/transfer_button_public', locals: { transfer: transfer } unless transfer.cancelled? %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="transfers-table__transfer__history">
    <label>history</label>

    <% if @project.token %>

      <%= render partial: 'transfer_history_button', locals: { transfer: transfer } %>
    <% else %>
      -
    <% end %>
  </div>

  <%= render partial: 'transferred_date', locals: { transfer: transfer } %>

  <% if @project.token&._token_type_token_release_schedule? %>
    <div class="transfers-table__transfer__lockup_schedule_id">
      <label>schedule id</label>

      <%= transfer.lockup_schedule_id %>
    </div>

    <div class="transfers-table__transfer__commencement_date">
      <label>commencement date</label>

      <%= transfer.commencement_date&.strftime("%b %e, %Y") %>
    </div>
  <% end %>

  <% if policy(@project).update_transfer? %>
    <div class="transfers-table__transfer__settings">
      <div class="dropdown">
        <a class="dropdown"
           role="button"
           aria-expanded="false"
           data-controller="transfer-settings"
           data-action="click->transfer-settings#resetLazyLoad"
           data-transfer-settings-target="settingsDropdown"
           data-boundary="viewport"
           data-toggle="dropdown">
          <svg class="n9-color" width="18" height="4" viewBox="0 0 18 4" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 0C0.895431 0 0 0.895431 0 2C0 3.10457 0.895431 4 2 4C3.10457 4 4 3.10457 4 2C4 0.895431 3.10457 0 2 0ZM9 0C7.89543 0 7 0.895431 7 2C7 3.10457 7.89543 4 9 4C10.1046 4 11 3.10457 11 2C11 0.895431 10.1046 0 9 0ZM14 2C14 0.895431 14.8954 0 16 0C17.1046 0 18 0.895431 18 2C18 3.10457 17.1046 4 16 4C14.8954 4 14 3.10457 14 2Z" fill="currentColor"></path>
          </svg>
          <span></span>
        </a>

        <div class="dropdown-menu">
          <turbo-frame target="_top"
                       loading="lazy"
                       id="transfer_settings"
                       src="<%= project_transfer_settings_path(transfer_id: transfer.id) %>">
          </turbo-frame>
        </div>
      </div>
    </div>
  <% end %>
</div>
