<% transfer = transfer.decorate %>

<div class="transfers-table__transfer" style="border-left-color: <%= @project.transfers_chart_colors_objects[transfer.transfer_type] %>">
  <div class="transfers-table__transfer__name">
    <h3>
      <%= link_to transfer.name, project_award_type_award_path(transfer.project, transfer.award_type, transfer) %>
    </h3>

    <div class="transfers-table__transfer__name__type">
      <%= transfer.transfer_type.name %>
    </div>
  </div>

  <div class="transfers-table__transfer__account">
    <label>account</label>

    <% if transfer.account %>
      <%= render partial: "account", locals: {account: transfer.account} %>
    <% elsif transfer.email %>
      <%= transfer.email %>
    <% else %>
      –
    <% end %>
  </div>

  <div class="transfers-table__transfer__issuer">
    <label>admin</label>

    <% if transfer.paid? %>
      <% sender_wallet_address = transfer.blockchain_transactions.succeed.last&.source %>
      <% sender_wallet_url = sender_wallet_address && transfer.token ? transfer.token.blockchain.url_for_address_human(sender_wallet_address) : nil %>
      <%= render partial: "issuer", locals: {issuer: transfer.issuer, wallet: sender_wallet_address, wallet_url: sender_wallet_url} %>
    <% else %>
      –
    <% end %>
  </div>

  <div class="transfers-table__transfer__amount">
    <label>amount</label>

    <%= transfer.amount_pretty %>
  </div>

  <div class="transfers-table__transfer__quantity">
    <label>quantity</label>

    <%= transfer.quantity %>
  </div>

  <div class="transfers-table__transfer__total_amount">
    <label>total amount</label>

    <%= transfer.total_amount_pretty %>
  </div>

  <% if @project.token %>
    <div class="transfers-table__transfer__button">
      <label>transfer</label>

      <%= render partial: "shared/transfer_button", locals: {transfer: transfer} %>

      <% if transfer.blockchain_transactions.size > 0 %>
        <%= link_to "#{transfer.blockchain_transactions.size} Tx ➔", project_dashboard_transfer_path(transfer.project, transfer), class: 'transfers-table__transfer__button__history' %>
      <% end %>

      <% if policy(transfer).cancel? %>
        <%= link_to "Cancel", project_award_type_award_path(transfer.project, transfer.award_type, transfer), method: :delete, class: 'transfers-table__transfer__button__history' %>
      <% end %>
    </div>
  <% end %>

  <div class="transfers-table__transfer__transferred_at">
    <label>transferred at</label>

    <% if transfer.paid? && transfer.transferred_at %>
      <%= transfer.transferred_at.strftime("%b %e, %Y") %>
    <% else %>
      –
    <% end %>
  </div>

  <div class="transfers-table__transfer__transferred_at">
    <label>created at</label>

    <%= transfer.created_at.strftime("%b %e, %Y") %>
  </div>
</div>
