<% transfer = transfer.decorate %>
<% t_type = transfer_type(transfer.transfer_type_id) %>

<div class="transfers-table__transfer" style="border-left-color: <%= @transfers_chart_colors_objects[t_type] %>">
  <%= turbo_stream_from transfer, :updates %>

  <div class="transfers-table__transfer__name">
    <h3>
      <%= link_to transfer.name, project_award_type_award_path(transfer.project, transfer.award_type, transfer) %>
    </h3>

    <div class="transfers-table__transfer__name__type">
      <%= t_type.name %>
    </div>
  </div>

  <div class="transfers-table__transfer__account">
    <label>account</label>

    <% if transfer.account %>
      <%= render partial: "account", locals: {account: transfer.account, wallet: transfer.sender_wallet_address, wallet_url: transfer.sender_wallet_url} %>
    <% elsif transfer.email %>
      <%= transfer.email %>
    <% else %>
      –
    <% end %>
  </div>

  <div class="transfers-table__transfer__issuer">
    <label>admin</label>

    <% if transfer.paid? %>
      <%= render partial: "issuer", locals: {issuer: transfer.issuer, wallet: transfer.sender_wallet_address, wallet_url: transfer.sender_wallet_url, transfer: transfer} %>
    <% else %>
      –
    <% end %>
  </div>

  <div class="transfers-table__transfer__total_amount">
    <label>total amount</label>

    <%= transfer.total_amount_pretty %>
  </div>

  <div class="transfers-table__transfer__verification">
    <label>verification</label>

    <div class="account-preview__info__verification">
      <% account = transfer.account.decorate %>
      <%= image_pack_tag "media/src/images/styleguide/icons/verification-#{account.verification_state}.svg", size: "15x15" %>
      <%= account.verification_state&.capitalize %>
    </div>
  </div>

  <div class="transfers-table__transfer__status">
    <label>status</label>

    <% if @project.token %>

      <% if transfer.project.token&._token_type? %>
        <% if policy(transfer).can_transfer?(transfer.project) %>
          <% if transfer.payable_by_ore_id?(current_account) %>
            <div class="transfer-button">
              <%= link_to 'link OREID', wallets_path %>
            </div>
          <% else %>
            <%= render partial: "shared/transfer_button_admin", locals: { transfer: transfer } %>
          <% end %>

        <% else %>
          <%= render partial: "shared/transfer_button_public", locals: { transfer: transfer } %>
        <% end %>
      <% end %>

      <% if policy(transfer).can_transfer?(transfer.project) && transfer.accepted? && !@project.hot_wallet_disabled? && @project.hot_wallet %>
        <div class="transfers-table__transfer__button__history">
          <%= render partial: 'shared/transfer_prioritize_button', locals: { transfer: transfer } %>
        </div>
      <% end %>
    <% else %>
      –
    <% end %>
  </div>

  <div class="transfers-table__transfer__history">
    <label>history</label>

    <% if @project.token %>
      <% if transfer.blockchain_transactions? %>
        <%= link_to "#{transfer.blockchain_transactions.size} Tx ➔", project_dashboard_transfer_path(transfer.project, transfer), class: 'transfers-table__transfer__button__history' %>
      <% end %>

      <% if policy(transfer).cancel? && transfer.cancelable? %>
        <%= link_to "Cancel", project_award_type_award_path(transfer.project, transfer.award_type, transfer), method: :delete, class: 'transfers-table__transfer__button__history' %>
      <% end %>
    <% else %>
      –
    <% end %>
  </div>

  <div class="transfers-table__transfer__transferred_at">
    <label>transferred at</label>

    <% if transfer.paid? && transfer.transferred_at %>
      <%= transfer.transferred_at.strftime("%b %e, %Y") %>
    <% else %>
      –
    <% end %>
  </div>
</div>
