<% transfer = transfer.decorate %>
<% account = transfer.account.decorate %>
<% t_type = transfer_type(transfer.transfer_type_id) %>

<div class="transfers-table__transfer" style="border-left-color: <%= @transfers_chart_colors_objects[t_type] %>">
  <%= turbo_stream_from transfer, :updates %>

  <div class="transfers-table__transfer__name">
    <h3>
      <%= link_to transfer.name, project_award_type_award_path(transfer.project, transfer.award_type, transfer) %>
    </h3>

    <div class="transfers-table__transfer__name__type">
      <%= t_type.name %>
    </div>
  </div>

  <div class="transfers-table__transfer__recipient">
    <label>recipient</label>

    <%= render partial: 'recipient', locals: { transfer: transfer } %>
  </div>

  <div class="transfers-table__transfer__issuer">
    <label>issuer</label>

    <% if transfer.issuer %>
      <%= render partial: 'issuer', locals: { transfer: transfer } %>
    <% elsif transfer.email %>
      <%= transfer.email %>
    <% else %>
      –
    <% end %>
  </div>

  <div class="transfers-table__transfer__total_amount">
    <label>total amount</label>

    <%= transfer.total_amount_pretty %>
  </div>

  <div class="transfers-table__transfer__verification">
    <label>verification</label>

    <div class="account-preview__info__verification">
      <%= image_pack_tag "media/src/images/styleguide/icons/verification-#{account.verification_state}.svg",
                         size: '15x15' %>
      <%= account.verification_state&.capitalize %>
    </div>
  </div>

  <% if @project.token %>
    <div class="transfers-table__transfer__status">
      <label>status</label>

      <% if transfer.project.token&._token_type? %>
        <% if current_account&.decorate&.can_send_awards?(transfer.project) %>
          <% if transfer.token&.blockchain&.supported_by_ore_id? && current_account&.ore_id_account.nil? %>
            <div class="transfer-button">
              <%= link_to 'link OREID', wallets_path %>
            </div>
          <% else %>
            <%= render partial: 'shared/transfer_button_admin', locals: { transfer: transfer } unless transfer.cancelled? %>
          <% end %>
        <% else %>
          <% if transfer.recipient_address.blank? && current_account == transfer.account %>
            <div class="transfer-button">
              <%= link_to 'set wallet', wallets_path %>
            </div>
          <% else %>
            <%= render partial: 'shared/transfer_button_public', locals: { transfer: transfer } unless transfer.cancelled? %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="transfers-table__transfer__history">
    <label>history</label>

    <% if @project.token %>
      <% if current_account&.decorate&.can_send_awards?(@project) && transfer.accepted? &&
          !@project.hot_wallet_disabled? && @project.hot_wallet %>
        <%= render partial: 'shared/transfer_prioritize_button', locals: { transfer: transfer } %>
      <% end %>

      <%= render partial: 'transfer_history_button', locals: { transfer: transfer } %>

      <% if policy(transfer).cancel? && transfer.cancelable? %>
        <%= link_to 'Cancel',
                    project_award_type_award_path(transfer.project, transfer.award_type, transfer),
                    method: :delete,
                    class: 'transfers-table__transfer__button__history' %>
      <% end %>
    <% else %>
      -
    <% end %>
  </div>

  <div class="transfers-table__transfer__transferred_at">
    <label>transferred at</label>

    <% if transfer.paid? && transfer.transferred_at %>
      <%= transfer.transferred_at.strftime("%b %e, %Y") %>
    <% else %>
      –
    <% end %>
  </div>
</div>
