<%= render layout: 'projects/project_settings' do %>
  <div data-controller="transfer-form" data-transfer-form-decimal-places="<%= @project.token ? @project.token.decimal_places : 0 %>">
    <%= render partial: "filters" %>

    <% if @transfers_all.present? %>
      <%= render partial: "chart" %>
    <% end %>

    <% if policy(@project).create_transfer? %>
      <div class="transfers-filters">
        <div class="transfers-filters--filter">
          <div class="transfers-filters--filter--options">
            <%= select 'select', 'transfers', {}, { include_blank: 'Create New Transfer' }, { data: { target: 'transfer-form.create', action: 'transfer-form#showForm' } } do %>
              <%= options_from_collection_for_select(@project.transfer_types, 'id', 'name') %>
              <% if policy(@project).transfer_types? %>
                <%= tag.option 'Manage Categories', { 'data-url': project_dashboard_transter_categories_path(@project) } %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="transfers-table animated fadeIn faster">
      <%= render partial: "header" %>
      <%= render partial: "summary" %>
      <%= render partial: "form" %>
      <%= render partial: "transfer", collection: @transfers, as: :transfer, cached: false %>
    </div>

    <div class="transfers-pages">
      <%= paginate(@transfers, window: 3) %>
    </div>

    <%= render partial: "shared/wallets" %>
  </div>
<% end %>
