<%= render layout: 'projects/project_settings' do %>
  <div data-controller="transfer-form" data-transfer-form-decimal-places="<%= @project.token ? @project.token.decimal_places : 0 %>">
    <%= render partial: "filters" %>

    <%# TODO: Uncomment me after the chart perfomance will be fixed %>
    <%# if @transfers_all.present? %>
      <%#= render partial: "chart" %>
    <%# end %>

    <div class="row">
      <div class="col-6">
        <% if policy(@project).create_transfer? %>
          <div class="transfers-filters">
            <div class="transfers-filters--filter">
              <div class="transfers-filters--filter--options">
                <%= select 'select', 'transfers', {}, { include_blank: 'Create New Transfer' }, { data: { target: 'transfer-form.create', action: 'transfer-form#showForm' } } do %>
                  <%= options_from_collection_for_select(@project.transfer_types, 'id', 'name') %>
                  <% if policy(@project).transfer_types? %>
                    <%= tag.option 'Manage Categories', { 'data-url': project_dashboard_transfer_categories_path(@project) } %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-6">
        <% hot_wallet = @project.hot_wallet %>
        <% if hot_wallet.present? %>
          <div class="text-right hot-wallet">
            <div class="hot-wallet-switcher"
              data-controller="hot-wallet-mode-switcher"
              data-hot-wallet-mode-switcher-update-url="<%= project_path(@project) %>">
              <label>
                <input type="checkbox"
                  data-action="hot-wallet-mode-switcher#toggle"
                  data-target="hot-wallet-mode-switcher.hotWalletMode"
                  <% if @project.auto_sending? %> checked <% end %>>
                Hot Wallet Auto-Pay
              </label>
            </div>
            <div class="hot-wallet-address">
              Hot Wallet:&emsp; <%= link_to(
                middle_truncate(hot_wallet.address),
                hot_wallet.blockchain.url_for_address_human(hot_wallet.address),
                target: :_blank,
                class: 'mr-2',
                data: { controller: "utils--truncate", target: "utils--clipboard.source", width: "300" }
              ) %>
            </div>
        <% end %>
      </div>
    </div>

    <div class="transfers-table animated fadeIn faster">
      <%= render partial: "header" %>
      <%= render partial: "summary" %>
      <%= render partial: "form" %>
      <%= render partial: "transfer", collection: @transfers, as: :transfer, cached: false %>
    </div>

    <div class="transfers-pages">
      <%= paginate(@transfers, window: 3) %>
    </div>

    <%= render partial: "shared/wallets" %>
  </div>
<% end %>
