<%= render layout: 'projects/project_settings' do %>
  <div data-controller="transfer-form" data-transfer-form-decimal-places="<%= @project.token ? @project.token.decimal_places : 0 %>">
    <%= render partial: "filters" %>

    <% unless @transfers_all.size.zero? %>
      <%= render partial: "chart" %>
    <% end %>

    <% if policy(@project).create_transfer? %>
      <%= button_tag "create a transfer ＋", type: 'button', class: 'transfers-create', data: { target: 'transfer-form.create', action: 'transfer-form#showForm' } %>
    <% end %>

    <% if policy(@project).transfer_types? %>
      <%= link_to 'manage types', project_dashboard_transfer_types_path(@project), class: 'transfers-manage-types' %>
    <% end %>

    <div class="transfers-table animated fadeIn faster">
      <%= render partial: "header" %>
      <%= render partial: "summary" %>
      <%= render partial: "form" %>
      <%= render partial: "transfer", collection: @transfers, as: :transfer, cached: false %>
    </div>

    <div class="transfers-pages">
      <%= paginate(@transfers, window: 3) %>
    </div>

    <%= render partial: "shared/wallets" %>
  </div>
<% end %>