<%= render layout: 'projects/project_settings' do %>
  <div data-controller="transfer-form sign--wallet-connect sign--metamask" data-transfer-form-decimal-places="<%= @project.token ? @project.token.decimal_places : 0 %>">
    <%= render partial: "filters" %>
    <turbo-frame id="chart-data" target="_top" src="<%= fetch_chart_data_project_dashboard_transfers_path(@project, duration: (params[:duration] || 'Year'), q: @filter_params, page: params[:page]) %>">
      <div class="centered"><%= image_tag 'spinner.gif' %></div>
    </turbo-frame>

    <% if policy(@project).create_transfer? %>
      <%= render partial: "shared/wallet_connect" %>
    <% end %>

    <div class='row transfers-filters-bar'>
      <div class='col-6 transfers-search-bar'>
        <%= form_with url: project_dashboard_transfers_path(@project, q: {}), method: :get do |f| %>
          <%= f.text_field 'account', { placeholder: 'Search...' } %>
        <% end %>
      </div>
      <div class='col-6 category-and-status-filters'>
        <%= select 'select', 'statuses', {}, { include_blank: 'All' }, { id: 'status-selector', class: 'status-filter-style', data: { target: 'transfer-form.create', action: 'transfer-form#visitSelectedStatus' } } do %>
          <% @statuses.each do |status| %>
            <%= tag.option status.capitalize, { 'data-url': project_dashboard_transfers_path(@project, q: { status_eq: status }) } %>
          <% end %>
        <% end %>
        <%= select 'select', 'categories', {}, { include_blank: 'All' }, { id: 'category-selector',  class: 'category-filter-style', data: { target: 'transfer-form.create', action: 'transfer-form#visitSelectedCategory' } } do %>
          <% @transfers_chart_colors_objects.each do |type, color| %>
            <%= tag.option type.name, { 'data-url': project_dashboard_transfers_path(@project, q: { transfer_type_id_eq: type.id }) } %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="transfers-table animated fadeIn faster">
      <%= render partial: "header" %>
      <%= render partial: "summary" %>
      <%= render partial: "form" %>
      <%= render partial: "transfer", collection: @transfers, as: :transfer, cached: false %>
    </div>

    <div class="transfers-pages">
      <%= paginate(@transfers, window: 3) %>
    </div>

    <%= render partial: "shared/wallets" %>
  </div>
<% end %>