<div class="freeze-token">
  <% if @project.token.blockchain.supported_by_ore_id? %>
    <%= button_to freeze_project_dashboard_transfer_rules_path(@project), class: 'transfer-algo-btn transfer-tokens-btn-freeze', data: { turbo: "false" } do %>
      <%= render partial: "shared/wallet_logo", locals: { project: @project, size: 12 } %>
      <span><%= @project.token.token_frozen? ? 'Unfreeze' : 'Freeze' %></span>
    <% end %>
  <% else %>
    <%= form_with url: freeze_project_dashboard_transfer_rules_path(@project), data: {controller: "freeze-form", target: "freeze-form.form"}.merge(@project.token.decorate.eth_data('freeze-form')), class: 'freeze-token__form transfer-button' do |f| %>
      <%= link_to 'javascript:void(0)', data: {action: 'click->freeze-form#unpause', target: 'freeze-form.button'}, class: 'transfer-tokens-btn transfer-tokens-btn-skip-legacy transfer-tokens-btn-freeze' do %>
        <%= render partial: "shared/wallet_logo", locals: { project: @project, size: 12 } %>
        <span><%= @project.token.token_frozen? ? 'Unfreeze' : 'Freeze' %></span>
      <% end %>
    <% end %>
  <% end %>
</div>
