<div class="freeze-token">
  <% if @project.token.blockchain.supported_by_ore_id? %>
    <%= button_to freeze_project_dashboard_transfer_rules_path(@project), class: 'transfer-algo-btn transfer-tokens-btn-freeze', data: { turbo: "false" } do %>
      <%= render partial: "shared/wallet_logo", locals: { project: @project, size: 12 } %>
      <span><%= @project.token.token_frozen? ? 'Unfreeze' : 'Freeze' %></span>
    <% end %>
  <% elsif @project.token.blockchain.supported_by_wallet_connect? %>
    <a
      href='javascript:void(0)'
      class="transfer-tokens-btn transfer-tokens-btn-freeze transfer-button transfer-tokens-btn-skip-legacy"
      data-action="click->sign--wallet-connect#sendTx click->sign--metamask#sendTx"
      data-sign--wallet-connect-target='txButtons'
      data-sign--metamask-target='txButtons'
      data-tx-new-url="<%= sign_user_wallet_new_path(token_id: @project.token.id) %>"
      data-tx-receive-url="<%= sign_user_wallet_receive_path %>">
      <span><%= @project.token.token_frozen? ? 'Unfreeze' : 'Freeze' %></span>
    </a>
  <% end %>
</div>
