<div class="freeze-token">
  <% if @project.token.token_frozen %>

    <%= form_with url: unpause_project_dashboard_transfer_rules_path(@project), data: {controller: "freeze-form", target: "freeze-form.form"}.merge(@project.token.decorate.eth_data('freeze-form')), class: 'freeze-token__form transfer-button' do |f| %>
      <%= link_to 'javascript:void(0)', data: {action: 'click->freeze-form#unpause', target: 'freeze-form.button'}, class: 'transfer-tokens-btn transfer-tokens-btn-skip-legacy transfer-tokens-btn-freeze' do %>
        <%= render partial: "shared/wallet_logo", locals: { project: @project, size: 12 } %>
        <span>Unfreeze Token</span>
      <% end %>
    <% end %>

  <% else %>

    <%= form_with url: pause_project_dashboard_transfer_rules_path(@project), data: {controller: "freeze-form", target: "freeze-form.form"}.merge(@project.token.decorate.eth_data('freeze-form')), class: 'freeze-token__form transfer-button' do |f| %>
      <%= link_to 'javascript:void(0)', data: {action: 'click->freeze-form#pause', target: 'freeze-form.button'}, class: 'transfer-tokens-btn transfer-tokens-btn-skip-legacy transfer-tokens-btn-unfreeze' do %>
        <%= render partial: "shared/wallet_logo", locals: { project: @project, size: 12 } %>
        <span>Freeze Token</span>
      <% end %>
    <% end %>

  <% end %>
</div>
