<%= render layout: 'projects/project_settings' do %>
  <div
    data-controller="sign--wallet-connect sign--metamask sign--ore-id"
    data-sign--ore-id-address-value='<%= current_account&.ore_id_address_for_blockchain(@project.token&._blockchain) %>'
    data-sign--ore-id-link-url-value='<%= wallets_path(ore_id_required: true) %>'>

    <div class="row">
      <% if policy(@project).edit_transfer_rules? %>
        <%= render partial: 'shared/wallet_connect' %>
      <% end %>
    </div>

    <%= render partial: 'reg_groups' %>
    <%= render partial: 'transfer_rules' %>
    <%= render partial: 'frozen_status' %>
  </div>
<% end %>
