<% if @whitelabel_mission %>
  <% title = @meta_title ? @meta_title : @whitelabel_mission.name %>
  <% description = @meta_desc ? @meta_desc : nil %>
  <% image = @meta_image ? @meta_image : nil %>
  <% url = url_for(only_path: false) %>
<% else %>
  <% title = @meta_title ? @meta_title : 'CoMakery - Achieve Big Missions' %>
  <% description = @meta_desc ? @meta_desc : 'Built from a belief in the power of people, together. With CoMakery, you can gather or join a tribe and work to achieve big missions.' %>
  <% image = @meta_image ? @meta_image : '/comakery.jpg' %>
  <% url = url_for(only_path: false) %>
<% end %>

<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name='robots' content='NOODP'>
<meta name='theme-color' content='#ffffff'>
<meta name='msapplication-TileColor' content='#ffffff'>
<meta name='msapplication-TileImage' content='/assets/favicon/ms-icon-144x144.png'>

<title><%= title %></title>
<meta name="title" content="<%= title %>">
<meta name="description" content="<%= description %>">

<meta property="og:type" content="website">
<meta property="og:url" content="<%= url %>">
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="<%= description %>">
<meta property="og:image" content="<%= image %>">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="<%= url %>">
<meta property="twitter:title" content="<%= title %>">
<meta property="twitter:description" content="<%= description %>">
<meta property="twitter:image" content="<%= image %>">

<meta name="turbo-cache-control" content="no-preview">

<% if @whitelabel_mission && @whitelabel_mission&.whitelabel_favicon %>
  <% cache @whitelabel_mission do %>
    <link rel="shortcut icon" type="image/png"
          href="<%= Attachment::GetPath.call(attachment: @whitelabel_mission.whitelabel_favicon, resize_to_fill: [64, 64]).path %>">
  <% end %>
<% else %>
  <%= favicon_link_tag 'favicon/favicon.ico', defer: true %>
  <%= favicon_link_tag 'favicon/apple-icon-57x57.png', rel: 'apple-touch-icon', sizes: '57x57', type: 'image/png', defer: true %>
  <%= favicon_link_tag 'favicon/apple-icon-60x60.png', rel: 'apple-touch-icon', sizes: '60x60', type: 'image/png', defer: true %>
  <%= favicon_link_tag 'favicon/apple-icon-72x72.png', rel: 'apple-touch-icon', sizes: '72x72', type: 'image/png', defer: true %>
  <%= favicon_link_tag 'favicon/apple-icon-76x76.png', rel: 'apple-touch-icon', sizes: '76x76', type: 'image/png', defer: true %>
  <%= favicon_link_tag 'favicon/apple-icon-114x114.png', rel: 'apple-touch-icon', sizes: '114x114', type: 'image/png', defer: true %>
  <%= favicon_link_tag 'favicon/apple-icon-120x120.png', rel: 'apple-touch-icon', sizes: '120x120', type: 'image/png', defer: true %>
  <%= favicon_link_tag 'favicon/apple-icon-144x144.png', rel: 'apple-touch-icon', sizes: '144x144', type: 'image/png', defer: true %>
  <%= favicon_link_tag 'favicon/apple-icon-152x152.png', rel: 'apple-touch-icon', sizes: '152x152', type: 'image/png', defer: true %>
  <%= favicon_link_tag 'favicon/apple-icon-180x180.png', rel: 'apple-touch-icon', sizes: '180x180', type: 'image/png', defer: true %>
  <%= favicon_link_tag 'favicon/android-icon-192x192.png', rel: 'icon', sizes: '192x192', type: 'image/png', defer: true %>
  <%= favicon_link_tag 'favicon/favicon-32x32.png', rel: 'icon', sizes: '32x32', type: 'image/png', defer: true %>
  <%= favicon_link_tag 'favicon/favicon-96x96.png', rel: 'icon', sizes: '96x96', type: 'image/png', defer: true %>
  <%= favicon_link_tag 'favicon/favicon-16x16.png', rel: 'icon', sizes: '16x16', type: 'image/png', defer: true %>
  <%= favicon_link_tag 'favicon/manifest.json', rel: 'manifest', type: 'application/json', defer: true %>
<% end %>
