<%= turbo_frame_tag "transfer_button_admin_#{transfer.id}", target: "_top" do %>
  <div class="transfer-button <%= transfer.decorate.transfer_button_state_class %>">
    <% if transfer.paid? && transfer.decorate.ethereum_transaction_explorer_url %>
      <%= link_to transfer.decorate.ethereum_transaction_address_short, transfer.decorate.ethereum_transaction_explorer_url, target: '_blank' %>

    <% elsif transfer.project.token&.token_frozen? %>
      frozen

    <% elsif transfer.recipient_address.blank? %>
      needs wallet

    <% elsif transfer.token.blockchain.supported_by_ore_id? %>
      <%= button_to sign_ore_id_new_path(transfer_id: transfer.id), class: 'transfer-algo-btn', rel: 'nofollow', method: :post, data: {turbo: "false"} do %>
        <%= render partial: "shared/wallet_logo", locals: { project: transfer.project, size: 12 } %>
        <span>PAY</span>
      <% end %>

    <% elsif transfer.token.blockchain.supported_by_wallet_connect? %>
      <a
        href='javascript:void(0)'
        class="transfer-tokens-btn transfer-tokens-btn-skip-legacy"
        data-action="click->sign--wallet-connect#sendTx"
        data-sign--wallet-connect-target='txButtons'
        data-tx-new-url="<%= sign_user_wallet_new_path(transfer_id: transfer.id) %>"
        data-tx-receive-url="<%= sign_user_wallet_receive_path %>">
        <%= render partial: "shared/wallet_logo", locals: { project: transfer.project, size: 12 } %>

        <% case transfer.latest_blockchain_transaction&.status %>
        <% when 'created' %>
          <% if transfer.latest_blockchain_transaction&.waiting_in_created? %>
            <span>pending</span>
          <% else %>
            <span><%= transfer.decorate.transfer_button_text %></span>
          <% end %>
        <% when 'pending' %>
          <span>pending</span>
        <% when 'cancelled', 'failed' %>
          <span title="Last Failure: <%= transfer.latest_blockchain_transaction&.status_message %>">retry</span>
        <% else %>
          <span><%= transfer.decorate.transfer_button_text %></span>
        <% end %>
      </a>
    <% else %>
      pending
    <% end %>
  </div>
<% end %>
