<div class='transfer-button'>
  <% if transfer.project.token&.coin_type? %>
    <% if transfer.paid? && transfer.ethereum_transaction_explorer_url %>
      <%= link_to transfer.ethereum_transaction_address_short, transfer.ethereum_transaction_explorer_url, target: '_blank' %>
    
    <% elsif transfer.recipient_address.blank? && current_account == transfer.account %>
      <%= link_to 'needs wallet', account_path  %>
    
    <% elsif transfer.recipient_address.blank? %>
      needs wallet
    
    <% elsif current_account&.decorate&.can_send_awards?(transfer.project) %>
      <%= link_to 'javascript:void(0)', class: 'transfer-tokens-btn', data: transfer.decorate.pay_data do %>
        <%= render partial: "shared/wallet_logo", locals: { project: transfer.project, size: 12 } %>
        
        <% if transfer.accepted? && transfer.ethereum_transaction_error.present? %>
          <span title="Last Failure: <%= transfer.ethereum_transaction_error %>">Retry</span>
        <% else %>
          <span>Pay</span>
        <% end %>
      <% end %>
    
    <% else %>
      pending
    <% end %>
  <% end %>
</div>