<% token_opt_in = TokenOptIn.find_or_initialize_by(wallet_id: wallet.id, token_id: token.id) %>
<% token_opt_in_policy = policy(token_opt_in) %>

<div class="transfers-table__transfer">
  <div class="transfers-table__transfer__blockchain">
    <%= token.name %> (<%= token.symbol %>)
  </div>

  <div class="transfers-table__transfer__ore_id">
    <%= wallet.ore_id_account.account_name %>
  </div>

  <div class="transfers-table__transfer__status">
    <%= token_opt_in.status.humanize %>
  </div>

  <div class="transfers-table__transfer__action">
    <% if !token_opt_in.opted_in? && token_opt_in_policy.create? %>
      <div class="transfer-button">
        <%= link_to 'Opt-in', algorand_assets_url(wallet_id: wallet.id, token_id: token), method: :post %>
      </div>
    <% end %>
  </div>
</div>
