<div class="layout" data-controller="wallets--page" data-src="<% wallets_path %>">
  <%= render 'wallets/form_modal' %>
  <%= render 'wallets/opt_ins_modal' %>
  <div class="layout--content">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h4 class="m-0">Wallets</h4>
      <div class="d-flex">
        <button class="btn btn-light mr-4 font-weight-bold" data-toggle="modal" data-target="#walletForm" data-src="<%= new_wallet_path %>">
          Add wallet
        </button>
        <%= link_to auth_ore_id_new_url(redirect_back_to: wallets_url), type: :button, class: 'btn btn-primary font-weight-bold', data: { method: 'POST' } do %>
          <i class="fas fa-plus"></i> <span>Link OREID</span>
        <% end %>
      </div>
    </div>
    <% if current_account.ore_id_account&.account_name && @wallets.ore_id.empty? %>
      <h6>
        Synchronising ORE ID Wallets...
      </h6>
    <% end %>
    <div class="card" data-target="wallets--page.collectionWrapper">
      <%= render 'wallets/wallets_collection', wallets: @wallets %>
    </div>
  </div>
</div>
