<%= render layout: 'projects/project_settings_modal' do %>
  <div class="wallets">
    <h2>My Wallets</h2>
    <h3><%= pluralize(@wallets.size, 'Wallet', 'Wallets') %></h3>

    <% if current_account.ore_id_account&.account_name && @wallets.ore_id.empty? %>
      <h3>
        Synchronising ORE ID Wallets...
      </h3>
    <% end %>

    <div class="wallets__create">
      <%= link_to 'Add Wallet', new_wallet_url %>

      <% if current_account.ore_id_account&.account_name %>
        <%= link_to 'Unlink ORE ID', auth_ore_id_destroy_url, data: { method: 'DELETE' } %>
        <%= link_to 'Algorand opt-ins', algorand_opt_ins_path %>
      <% else %>
        <%= link_to 'Link ORE ID', auth_ore_id_new_url(redirect_back_to: wallets_url), data: { method: 'POST' } %>
      <% end %>
    </div>

    <div class="transfers-table animated fadeIn faster">
      <%= render partial: "wallet", collection: @wallets.user_provided, as: :wallet, cached: true %>
    </div>

    <div class="transfers-table animated fadeIn faster">
      <%= render partial: "wallet", collection: @wallets.ore_id, as: :wallet, cached: true %>
    </div>
  </div>
<% end %>
