<div class="layout" data-controller="wallets--page" data-src="<% wallets_path %>">
  <%= render 'wallets/form_modal' %>
  <%= render 'wallets/opt_ins_modal' %>
  <div class="layout--content">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h4 class="h2 page-title">Wallets</h4>
      <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-secondary m-1 font-weight-bold" data-toggle="modal" data-target="#walletForm" data-src="<%= new_wallet_path %>" id="addWalletBtn">
          <span class="pr-2">Add wallet</span>
          <svg class="ms-1" width="12" height="12" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1943 1.11509C10.1943 0.499245 9.6951 0 9.07925 0C8.4634 0 7.96415 0.499245 7.96415 1.11509L7.96415 7.80566L1.1151 7.80566C0.499245 7.80566 0 8.3049 0 8.92075C0 9.5366 0.499245 10.0358 1.11509 10.0358H7.96415L7.96415 16.8849C7.96415 17.5008 8.4634 18 9.07924 18C9.6951 18 10.1943 17.5008 10.1943 16.8849L10.1943 10.0358H16.8849C17.5008 10.0358 18 9.5366 18 8.92075C18 8.3049 17.5008 7.80566 16.8849 7.80566L10.1943 7.80566L10.1943 1.11509Z" fill="currentColor"></path>
          </svg>
        </button>

        <% if Blockchain.ore_id_configured? && @wallets.ore_id.empty? %>
          <%= button_to auth_ore_id_new_url(redirect_back_to: wallets_url), type: :button, class: 'btn btn-primary m-1 font-weight-bold', data: { turbo: "false" } do %>
            <span>Link OREID</span>
            <i class="fas fa-plus"></i>
          <% end %>
        <% end %>

        <% if @wallets.ore_id.present? %>
          <%= button_to auth_ore_id_destroy_url, type: "button", class: "btn btn-secondary m-1 font-weight-bold",  method: :delete, data: { turbo: "false" } do %>
            <span>Unlink OREID</span>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if current_account.ore_id_account&.account_name && @wallets.ore_id.empty? %>
      <h6>
        Synchronising ORE ID Wallets...
      </h6>
    <% end %>
    <div class="card" data-target="wallets--page.collectionWrapper">
      <%= render 'wallets/wallets_collection', wallets: @wallets %>
    </div>
  </div>
</div>
