<%= content_tag :tr, id: "account_#{wallet.account.id}_wallet_#{wallet.id}" do %>
  <td class="h12 font-weight-medium n10-color"><%= wallet.account.name %></td>
  <td class="h12 font-weight-medium n10-color"><%= wallet.account.email %></td>
  <td class="h12 font-weight-medium n10-color"><%= wallet.blockchain&.name %></td>
  <td class="h12 font-weight-medium n10-color"><%= wallet.address %></td>
  <td class="h12 font-weight-medium n10-color"><%= wallet.primary_wallet? %></td>
  <td class="h12 font-weight-medium n10-color">
    <% if (verification = wallet.account.latest_verification) %>
      <label class="form-label-round form-label-round-large h11 font-weight-medium <%= verification.passed? ? 'g7-color g1-bg' : 'r5-color r1-bg' %>">
        <%= verification.passed? ? 'Accredited' : 'Failed' %>
      </label>
    <% end %>
  </td>
  <td class="h12 font-weight-medium n10-color">
    <%= wallet.account.latest_verification&.created_at&.strftime('%b %e, %Y') %>
  </td>
<% end %>
