<%= content_tag :tr, id: "wl_account_#{wl_account_wallet.account.id}_wallet_#{wl_account_wallet.id}" do %>
  <td class="h12 font-weight-medium n10-color"><%= wl_account_wallet.account.name %></td>
  <td class="h12 font-weight-medium n10-color"><%= wl_account_wallet.account.email %></td>
  <td class="h12 font-weight-medium n10-color"><%= wl_account_wallet.blockchain.name %></td>
  <td class="h12 font-weight-medium n10-color"><%= wl_account_wallet.address %></td>
  <td class="h12 font-weight-medium n10-color"><%= wl_account_wallet.primary_wallet? %></td>
  <td class="h12 font-weight-medium n10-color">
    <% if (verification = wl_account_wallet.account.latest_verification) %>
      <label class="form-label-round form-label-round-large h11 font-weight-medium <%= verification.passed? ? 'g7-color g1-bg' : 'r5-color r1-bg' %>">
        <%= verification.passed? ? 'Accredited' : 'Failed' %>
      </label>
    <% end %>
  </td>
  <td class="h12 font-weight-medium n10-color">
    <%= wl_account_wallet.account.latest_verification&.created_at&.strftime('%b %e, %Y') %>
  </td>
<% end %>
