<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'layouts/google_tag_manager.html' %>
    <%= render partial: 'shared/unbounce.html' %>

    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' >
    <meta charset='utf-8' >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='description', content="<%= content_for?(:description) ? capture { yield(:description) } : I18n.t('project_description') %>" >
    <meta name='robots' content='NOODP' >
    <meta name='theme-color' content='#ffffff' >
    <meta name='msapplication-TileColor' content='#ffffff' >
    <meta name='msapplication-TileImage' content='/assets/favicon/ms-icon-144x144.png' >

    <title>
      <%= content_for?(:title) ? capture { yield(:title) } : I18n.t('project_name') %>
    </title>

    <% if ENV['AIRBRAKE_API_KEY'].present? && ENV['AIRBRAKE_PROJECT_ID'].present? %>
      <%= javascript_include_tag 'airbrake-shim',
        'data-airbrake-project-id' => ENV['AIRBRAKE_PROJECT_ID'],
        'data-airbrake-project-key' => ENV['AIRBRAKE_API_KEY'],
        'data-airbrake-environment-name' => ENV['APP_NAME'],
        defer: true %>
    <% end %>

    <%= favicon_link_tag 'favicon/favicon.ico', defer: true %>
    <%= favicon_link_tag 'favicon/apple-icon-57x57.png', rel: 'apple-touch-icon', sizes: '57x57', type: 'image/png', defer: true %>
    <%= favicon_link_tag 'favicon/apple-icon-60x60.png', rel: 'apple-touch-icon', sizes: '60x60', type: 'image/png', defer: true %>
    <%= favicon_link_tag 'favicon/apple-icon-72x72.png', rel: 'apple-touch-icon', sizes: '72x72', type: 'image/png', defer: true %>
    <%= favicon_link_tag 'favicon/apple-icon-76x76.png', rel: 'apple-touch-icon', sizes: '76x76', type: 'image/png', defer: true %>
    <%= favicon_link_tag 'favicon/apple-icon-114x114.png', rel: 'apple-touch-icon', sizes: '114x114', type: 'image/png', defer: true %>
    <%= favicon_link_tag 'favicon/apple-icon-120x120.png', rel: 'apple-touch-icon', sizes: '120x120', type: 'image/png', defer: true %>
    <%= favicon_link_tag 'favicon/apple-icon-144x144.png', rel: 'apple-touch-icon', sizes: '144x144', type: 'image/png', defer: true %>
    <%= favicon_link_tag 'favicon/apple-icon-152x152.png', rel: 'apple-touch-icon', sizes: '152x152', type: 'image/png', defer: true %>
    <%= favicon_link_tag 'favicon/apple-icon-180x180.png', rel: 'apple-touch-icon', sizes: '180x180', type: 'image/png', defer: true %>
    <%= favicon_link_tag 'favicon/android-icon-192x192.png', rel: 'icon', sizes: '192x192', type: 'image/png', defer: true %>
    <%= favicon_link_tag 'favicon/favicon-32x32.png', rel: 'icon', sizes: '32x32', type: 'image/png', defer: true %>
    <%= favicon_link_tag 'favicon/favicon-96x96.png', rel: 'icon', sizes: '96x96', type: 'image/png', defer: true %>
    <%= favicon_link_tag 'favicon/favicon-16x16.png', rel: 'icon', sizes: '16x16', type: 'image/png', defer: true %>
    <%= favicon_link_tag 'favicon/manifest.json', rel: 'manifest', type: 'application/json', defer: true %>
    <%= csrf_meta_tags %>

    <%= javascript_tag("
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75985416-1', 'auto');
      ga('send', 'pageview');
    ", defer: true) %>

    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese', defer: true %>
    <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css', defer: true %>
    <%= stylesheet_pack_tag 'application' %>

    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js', defer: true %>
    <%= javascript_pack_tag 'application' %>
    <%= intercom_script_tag %>
  </head>

  <body>
    <%= render partial: 'layouts/google_tag_no_script.html' %>

    <%= react_component(
      'layouts/Header',
      {
        is_admin: current_account&.comakery_admin?,
        is_logged_in: (current_account ? true : false),
        current_path: request.fullpath
      },
      {
        prerender: true
      }
    )%>
    <div class="react-container">
      <% 
        if flash[:notice].present?
          msg = flash[:notice]
          msg_type = "notice"
        elsif flash[:error].present? 
          msg = flash[:error]
          msg_type = "error"
        end

        flash.clear
      %>
      <% if msg.present? %>
        <%= react_component(
          'layouts/Flash',
          {
            flashType: msg_type,
            message: msg
          },
          {
            prerender: true
          }
        )%>
      <% end %>
      <%= yield %>
    </div>
    <%= react_component(
      'layouts/Footer',
      {
        is_logged_in: (current_account ? true : false)
      },
      {
        prerender: true
      }
    )%>
  </body>
</html>
